<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería colaborativa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="main-content">

    <ion-list *ngIf="addPhoto">      
      
      <form [formGroup]="photoForm">
        <ion-item lines="none">
          <ion-label position="floating" color="secondary">Nombre *</ion-label>
          <ion-input formControlName="nameUser" placeholder="Nombre o usuario"> </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating" color="secondary">Descripción</ion-label>
          <ion-input formControlName="descriptionUser" placeholder="Titulo e información adicional de la fotografía"> </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="secondary">foto</ion-label>
          <ion-input (change)="onChangeFiles($event)" type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" enctype="multipart/form-data"> </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-buttons slot="end">            
            <ion-button (click)="addPhoto=!addPhoto" mode="ios" fill="outline" color="secondary" class="withCustom">Cancelar</ion-button>
            <ion-button (click)="savePhoto()" mode="ios" fill="solid" color="secondary" class="withCustom">Guardar</ion-button>  
          </ion-buttons>          
        </ion-item>

      </form>
    </ion-list>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="tertiary">
          Fotos
        </ion-card-title>
        <ion-card-subtitle>
          Sube tus fotografías que consideres para crear la galería colaborativa respecto a Ruido y Silencio
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="flex">
        <div *ngFor="let photo of allUserGallery" class="img-cont">
          <img src="{{photo.photo}}" alt="">
          <ion-list>
            <ion-item>
              <ion-label color="primary">Autor
                <p>{{photo.name}}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary">Descripción
                <p>{{photo.description}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-fab *ngIf="!addPhoto" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addPhoto=!addPhoto" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

</ion-content>