<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="main-content">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="newPhoto()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

</ion-content>